<!DOCTYPE HTML>
<html>
	<!-- <link rel="stylesheet" type="text/css" href="C:/Users/d-suvolokin/Desktop/cs/_lessons/ruby/lift-indicator-emulator/public/bootstrap.css" /> -->
	<!-- <link rel="stylesheet" type="text/css" href="C:/Users/d-suvolokin/Desktop/cs/_lessons/ruby/lift-indicator-emulator/public/style.css" /> -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<meta charset="utf-8">
<title>*</title>
<!-- <style> body{background-image:url(background6.png)}</style> -->
<head></head>
	
<body>

<!-- разграфка страницы -->
<div class="row">
<!-- информационное табло -->
	<div class="left-bar col-md-4">
		<div class="row info-bar">Лифт находится на <%=@current%> этаже
		</div>
<!-- кнопка вызова лифта -->
		<div class="row arrows-bar">
			<div class="row">
				<a href="/">
					<span class="glyphicon glyphicon-record">
					</span>
				</a>
			</div>
		</div>
	</div>

<!-- индикаторная панель -->
	<div class="right-bar col-md-1">
		<div class="floorcell">
			<form action="/" method="POST">
				<button name="destination_floor" value="25" type="submit" class="badge cell" 
				id= "<%= @current==25 ? "checked" : "" %>" >
					25
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form action="/" method="POST">
				<button name="destination_floor" type="submit" value="24" class="badge cell" 
				id="<%= @current==24 ? "checked" : "" %>" >
					24
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form action="/" method="POST">
				<button name="destination_floor" value="23" type="submit" class="badge cell" 
				id="<%= @current==23 ? "checked" : ""%>">
					23
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form action="/" method="POST">
				<button name="destination_floor" value="22" type="submit" class="badge cell" 
				id="<%= @current==22 ? "checked" : ""%>">
					22
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form action="/" method="POST">
			<button name="destination_floor" value="21" type="submit" class="badge cell" 
			id="<%= @current==21 ? "checked" : ""%>">
			21
			</button>
			</form>
		</div>
		<div class="floorcell">
			<form action="/" method="POST">
				<button name="destination_floor" value="20" type="submit" class="badge cell" 
				id="<%= @current==20 ? "checked" : ""%>">
					20
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form action="/" method="POST">
				<button  name="destination_floor" value="19" type="submit" class="badge cell" 
				id="<%= @current==19 ? "checked" : ""%>">
					19
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form action="/" method="POST">
				<button name="destination_floor" value="18" type="submit" class="badge cell" 
				id="<%= @current==18 ? "checked" : ""%>">
					18
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form action="/" method="POST">
				<button name="destination_floor" value="17" type="submit" class="badge cell" 
				id="<%= @current==17 ? "checked" : ""%>">
					17
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form action="/" method="POST">
				<button name="destination_floor" value="16" type="submit" class="badge cell" 
				id="<%= @current==16 ? "checked" : ""%>">
					16
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form action="/" method="POST">
				<button name="destination_floor" value="15" type="submit" class="badge cell" 
				id="<%= @current==15 ? "checked" : ""%>">
					15
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form action="/" method="POST">
				<button name="destination_floor" value="14" type="submit" class="badge cell" 
				id="<%= @current==14 ? "checked" : ""%>">
					14
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form action="/" method="POST">
				<button name="destination_floor" value="13" type="submit" class="badge cell" 
				id="<%= @current==13 ? "checked" : ""%>">
					13
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form action="/" method="POST">
				<button name="destination_floor" value="12" type="submit" class="badge cell" 
				id="<%= @current==12 ? "checked" : ""%>">
					12
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form action="/" method="POST">
				<button name="destination_floor" value="11" type="submit" class="badge cell" 
				id="<%= @current==11 ? "checked" : ""%>">
					11
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form action="/" method="POST">
				<button name="destination_floor" value="10" type="submit" class="badge cell" 
				id="<%= @current==10 ? "checked" : ""%>">
					10
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form action="/" method="POST">
				<button name="destination_floor" value="9" type="submit" class="badge cell" 
				id="<%= @current==9 ? "checked" : ""%>">
					09
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form action="/" method="POST">
				<button name="destination_floor" value="8" type="submit" class="badge cell" 
				id="<%= @current==8 ? "checked" : ""%>">
					08
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form action="/" method="POST">
				<button name="destination_floor" value="7" type="submit" class="badge cell" 
				id="<%= @current==7 ? "checked" : ""%>">
					07
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form action="/" method="POST">
				<button name="destination_floor" value="6" type="submit" class="badge cell" 
				id="<%= @current==6 ? "checked" : ""%>">
					06
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form action="/" method="POST">
				<button name="destination_floor" value="5" type="submit" class="badge cell" 
				id="<%= @current==5 ? "checked" : ""%>">
					05
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form action="/" method="POST">
				<button name="destination_floor" value="4" type="submit" class="badge cell" 
				id="<%= @current==4 ? "checked" : ""%>">
					04
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form action="/" method="POST">
				<button name="destination_floor" value="3" type="submit" class="badge cell" 
				id="<%= @current==3 ? "checked" : ""%>">
					03
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form action="/" method="POST">
				<button name="destination_floor" value="2" type="submit" class="badge cell" 
				id="<%= @current==2 ? "checked" : ""%>">
					02
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form action="/" method="POST">
				<button name="destination_floor" value="1" type="submit" class="badge cell" 
				id="<%= @current==1 ? "checked" : ""%>">
					01
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form action="/" method="POST">
				<button name="destination_floor" value="0" type="submit" class="badge cell" 
				id= "<%= @current==0 ? "checked" : "" %>" >
					00
				</button>
			</form>
		</div>
	</div>
</div>

</body>
</html>
