<!DOCTYPE HTML>
<html>
	<!-- <link rel="stylesheet" type="text/css" href="C:/Users/d-suvolokin/Desktop/cs/_lessons/ruby/lift-indicator-emulator/public/bootstrap.css" /> -->
	<!-- <link rel="stylesheet" type="text/css" href="C:/Users/d-suvolokin/Desktop/cs/_lessons/ruby/lift-indicator-emulator/public/style.css" /> -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<meta charset="utf-8">
<title>*</title>
<!-- <style> body{background-image:url(background6.png)}</style> -->
<head></head>
	
<body>

<!-- разграфка страницы -->
<div class="row">
<!-- информационное табло -->
	<div class="left-bar col-md-4">
		<div class="row info-bar">Лифт находится на <%=@current%> этаже
		</div>
<!-- кнопка вызова лифта -->
		<div class="row arrows-bar">
			<div class="row">
				<a href="/">
					<span class="glyphicon glyphicon-record">
					</span>
				</a>
			</div>
		</div>
	</div>

<!-- индикаторная панель -->
	<div class="right-bar col-md-1">
		<div class="floorcell">
			<form action="/" autocomplete="25" name="destination_floor" method="POST">
				<button name="destination_floor" type="submit" class="badge cell" 
				id= "<%= @current==25 ? "checked" : "" %>" >
					25
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form>
				<button type="submit" class="badge cell" id="<%= @current==24 ? "checked" : "" %>" >
					24
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form>
				<button  type="submit" class="badge cell" 
				id="<%= @current==23 ? "checked" : ""%>">
					23
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form>
				<button  type="submit" class="badge cell" 
				id="<%= @current==22 ? "checked" : ""%>">
					22
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form>
			<button type="submit" class="badge cell" 
			id="<%= @current==21 ? "checked" : ""%>">
			21
			</button>
			</form>
		</div>
		<div class="floorcell">
			<form>
				<button type="submit" class="badge cell" 
				id="<%= @current==20 ? "checked" : ""%>">
					20
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form>
				<button type="submit" class="badge cell" 
				id="<%= @current==19 ? "checked" : ""%>">
					19
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form>
				<button type="submit" class="badge cell" 
				id="<%= @current==18 ? "checked" : ""%>">
					18
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form>
				<button type="submit" class="badge cell" 
				id="<%= @current==17 ? "checked" : ""%>">
					17
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form>
				<button type="submit" class="badge cell" 
				id="<%= @current==16 ? "checked" : ""%>">
					16
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form>
				<button type="submit" class="badge cell" 
				id="<%= @current==15 ? "checked" : ""%>">
					15
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form>
				<button type="submit" class="badge cell" 
				id="<%= @current==14 ? "checked" : ""%>">
					14
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form>
				<button type="submit" class="badge cell" 
				id="<%= @current==13 ? "checked" : ""%>">
					13
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form>
				<button type="submit" class="badge cell" 
				id="<%= @current==12 ? "checked" : ""%>">
					12
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form>
				<button type="submit" class="badge cell" 
				id="<%= @current==11 ? "checked" : ""%>">
					11
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form>
				<button type="submit" class="badge cell" 
				id="<%= @current==10 ? "checked" : ""%>">
					10
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form>
				<button type="submit" class="badge cell" 
				id="<%= @current==9 ? "checked" : ""%>">
					09
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form>
				<button type="submit" class="badge cell" 
				id="<%= @current==8 ? "checked" : ""%>">
					08
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form>
				<button type="submit" class="badge cell" 
				id="<%= @current==7 ? "checked" : ""%>">
					07
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form>
				<button type="submit" class="badge cell" 
				id="<%= @current==6 ? "checked" : ""%>">
					06
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form>
				<button type="submit" class="badge cell" 
				id="<%= @current==5 ? "checked" : ""%>">
					05
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form>
				<button type="submit" class="badge cell" 
				id="<%= @current==4 ? "checked" : ""%>">
					04
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form>
				<button type="submit" class="badge cell" 
				id="<%= @current==3 ? "checked" : ""%>">
					03
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form>
				<button type="submit" class="badge cell" 
				id="<%= @current==2 ? "checked" : ""%>">
					02
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form>
				<button type="submit" class="badge cell" 
				id="<%= @current==1 ? "checked" : ""%>">
					01
				</button>
			</form>
		</div>
		<div class="floorcell">
			<form>
				<button type="submit" class="badge cell" 
				id= "<%= @current==0 ? "checked" : "" %>" >
					00
				</button>
			</form>
		</div>
	</div>
</div>

<!-- <div class="container"> -->
	<!-- <div class="row"> -->
		<!-- <div class="row col-md-3 left-bar"> -->
			<!-- <div class="row info-bar"> -->
			<!-- </div> -->
			<!-- <div class="row nav-btns-bar"> -->
				<!-- <div class="row"> -->
					<!-- <span class="glyphicon glyphicon-circle-arrow-up"></span> -->
				
				<!-- </div> -->
				<!-- <div class="row"> -->
					<!-- <span class="glyphicon glyphicon-circle-arrow-down"></span> -->
				<!-- </div> -->
				
			<!-- </div> -->
			
		<!-- </div> -->
		
		<!-- <div class="row right-bar"> -->
			<!-- <div class="row"> -->
				<!-- <div class="floorcell ">25</div> -->
			<!-- </div> -->
			<!-- <div class=" floorcell">24</div> -->
			<!-- <div class="row floorcell">23</div> -->
			<!-- <div class="row floorcell">22</div> -->
			<!-- <div class="row floorcell">21</div> -->
			<!-- <div class="row floorcell">20</div> -->
			<!-- <div class="row floorcell">19</div> -->
			<!-- <div class="row floorcell">18</div> -->
			<!-- <div class="row floorcell">17</div> -->
			<!-- <div class="row floorcell">16</div> -->
			<!-- <div class="row floorcell">15</div> -->
			<!-- <div class="row floorcell">14</div> -->
			<!-- <div class="row floorcell">13</div> -->
			<!-- <div class="row floorcell">12</div> -->
			<!-- <div class="row floorcell">11</div> -->
			<!-- <div class="row floorcell">10</div> -->
			<!-- <div class="row floorcell">09</div> -->
			<!-- <div class="row floorcell">08</div> -->
			<!-- <div class="row floorcell">07</div> -->
			<!-- <div class="row floorcell">06</div> -->
			<!-- <div class="row floorcell">05</div> -->
			<!-- <div class="row floorcell">04</div> -->
			<!-- <div class="row floorcell">03</div> -->
			<!-- <div class="row floorcell">02</div> -->
			<!-- <div class="row floorcell">01</div> -->
			<!-- <div class="row floorcell">00</div> -->
			
		<!-- </div> -->
	<!-- </div> -->
<!-- </div> -->

</body>
</html>
