<!DOCTYPE HTML>
<html>
	<!-- <link rel="stylesheet" type="text/css" href="C:/Users/d-suvolokin/Desktop/cs/_lessons/ruby/lift-indicator-emulator/public/bootstrap.css" /> -->
	<!-- <link rel="stylesheet" type="text/css" href="C:/Users/d-suvolokin/Desktop/cs/_lessons/ruby/lift-indicator-emulator/public/style.css" /> -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<meta charset="utf-8">
<title>*</title>
<!-- <style> body{background-image:url(background6.png)}</style> -->
<head></head>
	
<body>

<div class="row">

	<div class="left-bar col-md-4">
		<div class="row info-bar">Лифт находится на <%=@current%> этаже
		</div>
		
		<div class="row arrows-bar">
			<div class="row">
				<a href="#"><span class="glyphicon glyphicon-record"></span></a>
			</div>
			
		</div>
	</div>
	
	<div class="right-bar col-md-1">
		<div class="floorcell"><button class="badge cell" id="f<%=@floor%>25">25</button></div>
		<div class="floorcell"><button class="badge cell" id="f<%=@floor%>24">24</button></div>
		<div class="floorcell"><button class="badge cell" id="f<%=@floor%>23">23</button></div>
		<div class="floorcell"><button class="badge cell" id="f<%=@floor%>22">22</button></div>
		<div class="floorcell"><button class="badge cell" id="f<%=@floor%>21">21</button></div>
		<div class="floorcell"><button class="badge cell" id="f<%=@floor%>20">20</button></div>
		<div class="floorcell"><button class="badge cell" id="f<%=@floor%>19">19</button></div>
		<div class="floorcell"><button class="badge cell" id="f<%=@floor%>18">18</button></div>
		<div class="floorcell"><button class="badge cell" id="f<%=@floor%>17">17</button></div>
		<div class="floorcell"><button class="badge cell" id="f<%=@floor%>16">16</button></div>
		<div class="floorcell"><button class="badge cell" id="f<%=@floor%>15">15</button></div>
		<div class="floorcell"><button class="badge cell" id="f<%=@floor%>14">14</button></div>
		<div class="floorcell"><button class="badge cell" id="f<%=@floor%>13">13</button></div>
		<div class="floorcell"><button class="badge cell" id="f<%=@floor%>12">12</button></div>
		<div class="floorcell"><button class="badge cell" id="f<%=@floor%>11">11</button></div>
		<div class="floorcell"><button class="badge cell" id="f<%=@floor%>10">10</button></div>
		<div class="floorcell"><button class="badge cell" id="f<%=@floor%>09">09</button></div>
		<div class="floorcell"><button class="badge cell" id="f<%=@floor%>08">08</button></div>
		<div class="floorcell"><button class="badge cell" id="f<%=@floor%>07">07</button></div>
		<div class="floorcell"><button class="badge cell" id="f<%=@floor%>06">06</button></div>
		<div class="floorcell"><button class="badge cell" id="f<%=@floor%>05">05</button></div>
		<div class="floorcell"><button class="badge cell" id="f<%=@floor%>04">04</button></div>
		<div class="floorcell"><button class="badge cell" id="f<%=@floor%>03">03</button></div>
		<div class="floorcell"><button class="badge cell" id="f<%=@floor%>02">02</button></div>
		<div class="floorcell"><button class="badge cell" id="f<%=@floor%>01">01</button></div>
		<div class="floorcell"><button class="badge cell" id="f<%=@floor%>00">00</button></div>
	</div>
</div>

<!-- <div class="container"> -->
	<!-- <div class="row"> -->
		<!-- <div class="row col-md-3 left-bar"> -->
			<!-- <div class="row info-bar"> -->
			<!-- </div> -->
			<!-- <div class="row nav-btns-bar"> -->
				<!-- <div class="row"> -->
					<!-- <span class="glyphicon glyphicon-circle-arrow-up"></span> -->
				
				<!-- </div> -->
				<!-- <div class="row"> -->
					<!-- <span class="glyphicon glyphicon-circle-arrow-down"></span> -->
				<!-- </div> -->
				
			<!-- </div> -->
			
		<!-- </div> -->
		
		<!-- <div class="row right-bar"> -->
			<!-- <div class="row"> -->
				<!-- <div class="floorcell ">25</div> -->
			<!-- </div> -->
			<!-- <div class=" floorcell">24</div> -->
			<!-- <div class="row floorcell">23</div> -->
			<!-- <div class="row floorcell">22</div> -->
			<!-- <div class="row floorcell">21</div> -->
			<!-- <div class="row floorcell">20</div> -->
			<!-- <div class="row floorcell">19</div> -->
			<!-- <div class="row floorcell">18</div> -->
			<!-- <div class="row floorcell">17</div> -->
			<!-- <div class="row floorcell">16</div> -->
			<!-- <div class="row floorcell">15</div> -->
			<!-- <div class="row floorcell">14</div> -->
			<!-- <div class="row floorcell">13</div> -->
			<!-- <div class="row floorcell">12</div> -->
			<!-- <div class="row floorcell">11</div> -->
			<!-- <div class="row floorcell">10</div> -->
			<!-- <div class="row floorcell">09</div> -->
			<!-- <div class="row floorcell">08</div> -->
			<!-- <div class="row floorcell">07</div> -->
			<!-- <div class="row floorcell">06</div> -->
			<!-- <div class="row floorcell">05</div> -->
			<!-- <div class="row floorcell">04</div> -->
			<!-- <div class="row floorcell">03</div> -->
			<!-- <div class="row floorcell">02</div> -->
			<!-- <div class="row floorcell">01</div> -->
			<!-- <div class="row floorcell">00</div> -->
			
		<!-- </div> -->
	<!-- </div> -->
<!-- </div> -->

</body>
</html>
